.build-linux64-debug/
.build-win32-debug/
.build-win32-release/
.build-win64-debug/
.build-win64-release/
.codelite/
bin/
build/
dist/Win32/
dist/Win64/
dist/*.exe
dist/*.zip
all.mk
all.txt
base.mk
base.txt
core.mk
core.txt
ex.err
Makefile
